/* Color */
.ml0 {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml4 {
  margin-left: 40px !important;
}
.ml6 {
  margin-left: 60px !important;
}
.ml8 {
  margin-left: 80px !important;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mr05 {
  margin-right: 5px !important;
}
.mr1 {
  margin-right: 1em !important;
}
.mr2 {
  margin-right: 2em !important;
}

.mr-2 {
  margin-right:-20px;
}

.mr5 {
  margin-right: 50px !important;
}

.mr29 {
  margin-right: 29px !important;
}
.mr28 {
  margin-right: 28px !important;
}
.mt1 {
  margin-top: 1em !important;
}

.mt15 {
  margin-top:15px !important;
}
.mb15 {
  margin-bottom:15px !important;
}

.mt3 {
  margin-top: 30px !important;
}


.mt13 {
  margin-top: 13px;
}

.mt100 {
  margin-top: 100px !important;
}

.mt110 {
  margin-top: 50px !important; /* changement de la valeur suite bug safari */
}

.mr1 {
  margin-right: 1em;
}
.mr2 {
  margin-right: 2em;
}

.mr3 {
  margin-right: 2em;
}
.mr4 {
  margin-right: 4em;
}
.mt05 {
  margin-top: 5px !important;
}
.mt03 {
  margin-top: 3px;
}
.mb05 {
  margin-bottom: 5px !important;
}
.mb1 {
  margin-bottom: 10px;
}
.mb4 {
  margin-bottom: 40px;
}
.mt2 {
  margin-top: 20px;
}
.mt-05 {
  margin-top: -5px;
}

.mt-2 {
  margin-top: -2px;
}

.mt22 {
  margin-top: 22px;
}
.mt-5 {
  margin-top: -5px;
}
.mt4 {
  margin-top: 40px;
}
.mt08 {
  margin-top: 8px;
}
.mt5 {
  margin-top: 50px;
}
.mt-30 {
  margin-top: -30px;
}
.mt-50 {
  margin-top: -50px;
}
.mb5 {
  margin-bottom: 50px;
}

.mb500 {
  margin-bottom: 500px;
}
.mt6 {
  margin-top: 60px !important;
}
.mt7 {
  margin-top: 70px;
}
.mt9 {
  margin-top: 90px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
}
.mb6 {
  margin-bottom: 60px;
}
.mb8 {
  margin-bottom: 80px;
}
.ml-05 {
  margin-left: -05px;
}

.ml-18 {
  margin-left: -18px;
}
.ml0 {
  margin-left: 0px;
}
.ml1 {
  margin-left: 10px;
}
.ml-1 {
  margin-left: -10px;
}

.ml-2 {
  margin-left: -20px;
}
.ml-14 {
  margin-left: -14px;
}
.ml-60 {
  margin-left: -60px;
}

.mr300{
  margin-right: 300px;
}

.ml6 {
  margin-left: 60px;
}
.ml-130 {
  margin-left: -130px;
}
.ml-135 {
  margin-left: -135px;
}
.ml-150 {
  margin-left: -150px;
}
.ml-165 {
  margin-left: -165px;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.pa0 {
  padding: 0 !important;
}
.pa1 {
  padding: 10px !important;
}
.pa01 {
  padding: 1px !important;
}
.pa2 {
  padding: 20px !important;
}
.pa3 {
  padding: 30px !important;
}
.pt1 {
  padding-top: 10px;
}
.pb1 {
  padding-bottom: 10px;
}
.pb2 {
  padding-bottom: 20px;
}
.pb4 {
  padding-bottom: 40px;
}
.pl5 {
  padding-left: 5px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl2 {
  padding-left: 20px !important;
}
.pr2 {
  padding-right: 20px;
}
.pr4 {
  padding-right: 40px;
}
.pl4 {
  padding-left: 40px;
}
.pr0 {
  padding-right: 0 !important;
}
.pr1 {
  padding-right: 10px;
}
.ml2 {
  margin-left: 20px;
}
.pt2 {
  padding-top: 20px !important;
}
.pl25 {
  padding-left: 25px;
}
.pt3 {
  padding-top: 30px;
}
.pt4 {
  padding-top: 40px;
}
.mt14 {
  margin-top: 14px;
}
.mb4 {
  margin-bottom: 40px;
}
.small {
  font-size: 11px;
}

.txt-11 {
  font-size: 11px;
}

.txt-12 {
  font-size: 12px;
}

.txt-13 {
  font-size: 13px;
}

.txt-14 {
  font-size: 14px;
}

.txt-15 {
  font-size: 15px;
}

.txt-16 {
  font-size: 16px;
}

.txt-17 {
  font-size: 17px;
}

.txt-22 {
  font-size: 22px;
}

.txt-37 {
  font-size: 37px;
}


.txt-19 {
  font-size: 1.3em !important;
}
.txt-36 {
  font-size: 36px !important;
  line-height: 1.2em;
}
/* Color */
.bg-gray-lighter {
  background-color: #eeeeee;
}
.gray-light {
  color: #b3b3b3;
}
.gray {
  color: #555555 !important;
}
.green {
  color: #409907 !important;
}
.white {
  color: #fff !important;
}
.middle-gray {
  color: #7c7c7c;
}
.clear {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


.split {
  border-bottom: solid 1px #eeeeee;
}


.split-d-gray {
  border-bottom: solid 1px #ccc;
}



.split-double {
  border-bottom: solid 1px #999;
  box-shadow: 0 1px 1px 1px #FFF;
}
.split-right {
  border-right: solid 1px #b3b3b3;
}
.shadow {
  -moz-box-shadow: 0 5px 12px 4px #cfcfcf;
  -webkit-box-shadow: 0 5px 12px 4px #cfcfcf;
  -o-box-shadow: 0 5px 12px 4px #cfcfcf;
  box-shadow: 0 5px 12px 4px #cfcfcf;
}
.no-btn-no-hover {
  border: none;
  padding: 0;
  background: none;
}

.no-btn {
  border: none;
  padding: 0;
  background: none;
}
.no-btn:hover {
  color: #1165a3;
  border-bottom: solid 1px #1165a3;
}
.cursor-pointer {
  cursor: pointer;
}
.txt-align-r {
  text-align: right;
}
.btn-lien {
  height: 45px;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color: #85bc26;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  text-decoration: none
}

.btn-lien:hover {
  background-color: #7aaa1d;

  text-decoration: none
}


.btn-info {
  background-color: #b81511;
  border: solid 1px #b81511;
  margin-right: 3px;
}
.btn-info:hover {
  background-color: #b81511;
  border: solid 1px #b81511;
  opacity: 0.8;
}
.btn-second {
  background-color: #1165a3;
  border: solid 1px #fff;
  margin-right: 3px;
  color: #fff;
}
.btn-second:hover {
  background-color: #1165a3;
  border: solid 1px #fff;
  opacity: 0.8;
  color: #fff;
}
.bg-grey {
  background-color: #eeeeee;
}
.txt-gray {
  color: #555555;
}
.blue {
  color: #1165a3 !important;
}
.txt-light-gray {
  color: #b3b3b3;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.display-block {
  display: block;
}

.w218{
  width: 218px;
}

.w320{
  width: 320px;
}

.w335{
  width: 335px;
}

.w340{
  width: 340px;
}

.w300{
  width: 300px;
}

.w350{
  width: 350px;
}

.w400{
  width: 400px;
}

.w500{
  width: 500px;
}

.w565{
  width: 565px;
}


.w470{
  width: 470px;
}


.w600{
  width: 595px;
}

.w640{
  width: 640px;
}

.w700{
  width: 700px;
}

.w750{
  width: 750px;
}

.w850{
  width: 850px;
}

.w900{
  width: 900px;
}
.width100 {
  width: 100%;
}
.width2 {
  width: 2%;
}
.width3 {
  width: 3%;
}
.width4 {
  width: 4%;
}
.width5 {
  width: 5%;
}
.width9 {
  width: 9%;
}
.width12 {
  width: 12%;
}
.width70 {
  width: 70%;
}

.width80 {
  width: 80%;
}
.width89 {
  width: 88%;
}
.width90 {
  width: 90%;
}
.width91 {
  width: 91%;
}
.width93 {
  width: 93%;
}
.width95 {
  width: 95%;
}
.weight-300 {
  font-weight: 300;
}
.no-dec {
  text-decoration: none !important;
}
.width30p {
  width: 30px;
}
.width35p {
  width: 35px;
}
.left-150 {
  left: -150px !important;
}
.float-right {
  float: right;
}
.h40 {
  height: 40px !important;
}

.h45 {
  height: 45px !important;
}
.h65 {
  height: 65px !important;
}

.h580 {
  height: 580px !important;
}

.h100 {
  height: 100px !important;
}
.w160 {
  width: 160% !important;
}

.w94{
  width: 94% 
}


.white-bg{
  background-color: #fff !important;
}

a.green-d{
  color: #618E0A !important;
  text-decoration: none;
}

a.green-d:hover{
  border-bottom:solid 1px #618E0A;
  text-decoration: none;
}

.br-g{
  border-right: solid 1px #ccc;
}

.min600{
  min-height: 600px;
}

.bg-lgrey{
  background-color:#e2e2e2;
}
.orange-d{
  color:#DB5E00
}

.radius3{
    border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}